main{
    width: 80%;
}

.presentation {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-evenly;
}

.presentation div{
    width: 90%;
    height: 125vh;
    margin-bottom: 20px;
}
.yann{
    background-color: #678900;
}
.nico{
    background-color: cyan;
}
.gati{
    background-color: #1ABC9C;
}
.remi {
    background-color: #1e90ff;
}
.mela {
    background-color: #ff69b4;
}
.bast {
    background-color: #F1C40F;
}
.alex {
    background-color: #E67E22 ;
}
.enzo {
    background-color: #a20000;
}

.team {
    display: flex;
    flex-direction: column;
}

.team img{
    width: 100%;
}