<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="dechet.css">
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>
    <body>
        <div class="gauche">
            <p>
                Les sacs plastiques, les tissus isolants, tout ce qui fait des fines plaques de plastique.
            </p>
                <img src="https://media.discordapp.net/attachments/784098613282209813/784158150739099688/georgewashingtondesaprouve.png" alt="sac plastique" width="300px"><!--Image du sac plastique-->
        </div>
        <div class="droite">
            <p>
                Les bouteilles, les jerikans et les autres conteneurs plastique ou métalique
            </p>
            <img src="https://media.discordapp.net/attachments/784098613282209813/784158078730895360/BEYONCE.jpg" alt="bouteils" width="300px"><!--Image de bouteille-->
        </div>
        <div class="gauche">
            <p>
                Pneux et autres mathières caoutchouteuses
            </p>
            <img src="https://media.discordapp.net/attachments/784098613282209813/784099130858799164/Dechet-pneu.png" alt="pneu" width="300px"><!--Image de pneu-->
        </div >
        <div class="droite">
            <p>
                Mégot et cigarettes
            </p>
            <img src="https://media.discordapp.net/attachments/784098613282209813/784162648110661642/Rhianna.jpg" alt="cigarette" width="300px"><!--Image de cigarette-->
        </div>
        <div class="gauche">
            <p>
                Pailles platiques
            </p>
            <img src="https://media.discordapp.net/attachments/784098613282209813/784166568837775361/mimi.jpg" alt="paille" width="300px"><!--Image de paille-->
        </div>
        <div class="droite">
            <p>
                les masques arrivent dans nos océans
            </p>
            <img src="https://cdn.discordapp.com/attachments/784098613282209813/784173073888575588/MJ.jpg" alt="Masque Jackson" width="300px"><!--Image de masques-->
        </div>

    </body>

</html>
