<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>A propos</title>
	<link rel="stylesheet" type="text/css" href="../CSS/general.css">
	<link rel="stylesheet" type="text/css" href="../CSS/apropos.css">
	<link rel="icon" href="../assets/icon.png"/>
</head>
<body>
	<main>
		<div class="presentation">
			<div>
				<div class="presentation">
					<div class="yann"><img src="../assets/PP/BNCU_kaki.png" alt="kaki" width="50px"/> Yann Brun
						<br> [Ayant une capacité d'adaptation hors norme, cet homme est capable d'apprendre un langage en 1h, JS rpz.]</div>
					<div class="nico"><img src="../assets/PP/BNCU_cyan.png" alt="cyan" width="50px"/> Nicolas Charlier
						<br> [Expert en pixelart et bilingue à temps perdu, cet homme à la cravate n'a pas fini de vous étonner !]</div>
					<div class="gati"><img src="../assets/PP/BNCU_turquoise.png" alt="turquoise" width="50px"/> Gatien Depeyre
						<br> [Beaucoup d'imagination implique beaucoup de surchauffe système, ainsi il n'est pas étonnant de le voir s'endormir
						pour 10min (en réalité 666h)]</div>
					<div class="remi"><img src="../assets/PP/BNCU_bleu.png" alt="bleu" width="50px"/> Rémi Espié
						<br> [Les serveurs sont son domaine de prédiléction, le php sa religion (après celle de notre grand dieu CthulhUbuntu). 
						Il est le seul capable de carry l'équipe puisqu'un chef est là pour cheffer.]</div>
				</div>
				<div class="presentation">
					<div class="mela"><img src="../assets/PP/BNCU_rose.png" alt="rose" width="50px"/> Mélanie Fressard
						<br> [Bac +12 en gimp, papa Johnny est son modèle ! Son rêve quand elle sera grande (ce qui n'est pas prêt d'arriver)
						est de devenir un muffin afin de rencontrer son idole.]</div>
					<div class="bast"><img src="../assets/PP/BNCU_jaune.png" alt="jaune" width="50px"/> Bastien Gavioli
						<br> [Pro gamer de Master of Grid, sa capacité à citer la capitale de Liechtenstein en moins de 5s lui permet
						de prendre l'avantage lors de situations critiques !]</div>
					<div class="alex"><img src="../assets/PP/BNCU_orange.png" alt="orange" width="50px"/> Alexandre Roussel
						<br> [Les burgers n'ont aucun secret pour lui ! Cooking Mama en serait jalouse à en perdre le header !]</div>
					<div class="enzo"><img src="../assets/PP/BNCU_rouge.png" alt="rouge" width="50px"/> Enzo Viguier
						<br> [Ses capacités hors normes de graphiste lui ont permis de produire 6 logos pour 6h ce qui n'est pas 6 facile !]</div>
				</div>
			</div>
			<div class="team"><h3>Notre merveilleuse équipe est soudée même en distanciel ! </h3>
				<br><br><img src="../assets/team.png" alt="team" width="300px"></div>
		</div>
		<img src="../assets/crewmates/orange.png" alt="orange" id="orange" class="au" onclick="document.getElementById('orange').src='../assets/crewmates/orange-dead.png'"> </div>
</div>
</main>
</body>
</html>