<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>A propos</title>
	<link rel="stylesheet" type="text/css" href="../CSS/general.css">
	<link rel="stylesheet" type="text/css" href="../CSS/apropos.css">
	<link rel="icon" href="../assets/icon.png"/>
</head>
<body>
	<main>
		<div class="presentation">
			<div>
				<div class="presentation">
					<div class="yann"><img src="/assets/PP/BNCU_kaki.png" alt="kaki" width="50px"/> Yann Brun
						<br> [paragraphe]</div>
					<div class="nico"><img src="/assets/PP/BNCU_cyan.png" alt="cyan" width="50px"/> Nicolas Charlier
						<br> [paragraphe]</div>
					<div class="gati"><img src="/assets/PP/BNCU_turquoise.png" alt="turquoise" width="50px"/> Gatien Depeyre
						<br> [paragraphe]</div>
					<div class="remi"><img src="/assets/PP/BNCU_bleu.png" alt="bleu" width="50px"/> Rémi Espié
						<br> [paragraphe]</div>
				</div>
				<div class="presentation">
					<div class="mela"><img src="/assets/PP/BNCU_rose.png" alt="rose" width="50px"/> Mélanie Fressard
						<br> [paragraphe]</div>
					<div class="bast"><img src="/assets/PP/BNCU_jaune.png" alt="jaune" width="50px"/> Bastien Gavioli
						<br> [paragraphe]</div>
					<div class="alex"><img src="/assets/PP/BNCU_orange.png" alt="orange" width="50px"/> Alexandre Roussel
						<br> [paragraphe]</div>
					<div class="enzo"><img src="/assets/PP/BNCU_rouge.png" alt="rouge" width="50px"/> Enzo Viguier
						<br> [paragraphe]</div>
				</div>
			</div>
			<div class="team"><h3>Notre merveilleuse équipe est soudée même en distanciel ! </h3>
				<br><br><img src="/assets/team.png" alt="team" width="300px"/></div>
		</div>
		<img src="../assets/crewmates/orange.png" alt="orange" id="orange" class="au" onclick="document.getElementById('orange').src='../assets/crewmates/orange-dead.png'"> </div>
</div>
</main>
</body>
</html>