<!DOCTYPE html>
<html>
<head>
	

</head>
<body>
	<main>
		<div class="yann">Yann Brun <img href="/assets/PP/BNCU_kaki.png" alt="kaki"></div>
		<div class="nico">Nicolas Charlier <img href="/assets/PP/BNCU_cyan.png" alt="cyan"></div>
		<div class="gati">Gatien Depeyre <img href="/assets/PP/BNCU_turquoise.png" alt="turquoise"></div>
		<div class="remi">Rémi Espié <img href="/assets/PP/BNCU_bleu.png" alt="bleu"></div>
		<div class="mela">Mélanie Fressard <img href="/assets/PP/BNCU_rose.png" alt="rose"></div>
		<div class="bast">Bastien Gavioli <img href="/assets/PP/BNCU_jaune.png" alt="jaune"></div>
		<div class="alex">Alexandre Roussel <img href="/assets/PP/BNCU_orange.png" alt="orange"></div>
		<div class="enzo">Enzo Viguier <img href="/assets/PP/BNCU_rouge.png" alt="rouge"></div>
</main>
</body>
</html>
