<!DOCTYPE html>
<html>
<head>
	

</head>
<body>
	<main>
		<div class="yann">Yann Brun <img src="/assets/PP/BNCU_kaki" alt="kaki"></div>
		<div class="nico">Nicolas Charlier <img src="/assets/PP/BNCU_cyan" alt="cyan"></div>
		<div class="gati">Gatien Depeyre <img src="/assets/PP/BNCU_turquoise" alt="turquoise"></div>
		<div class="remi">Rémi Espié <img src="/assets/PP/BNCU_bleu" alt="bleu"></div>
		<div class="mela">Mélanie Fressard <img src="/assets/PP/BNCU_rose" alt="rose"></div>
		<div class="bast">Bastien Gavioli <img src="/assets/PP/BNCU_jaune" alt="jaune"></div>
		<div class="alex">Alexandre Roussel <img src="/assets/PP/BNCU_orange" alt="orange"></div>
		<div class="enzo">Enzo Viguier <img src="/assets/PP/BNCU_rouge" alt="rouge"></div>
</main>
</body>
</html>