<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="utf-8">
    <title>Temp</title>
    <link rel="stylesheet" type="text/css" href="../CSS/general.css">
    <link rel="icon" href="../assets/icon.png"/>
</head>

<body>
<header>

</header>

<main>
    <div><p>Le premier déchet découvert par un surfeur date du 1 Mai 1776
        <a href="https://www.nationilluminati.com/">Notre partenaire principal</a>
        <img src="/assets/georgewashingtondesaprouve.png"/>
    </p></div>
</main>

<footer>

</footer>

</body>
</html>