<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Temp</title>
    <link rel="stylesheet" type="text/css" href="../CSS/general.css">
    <link rel="icon" href="../assets/icon.png"/>
</head>

<body>
<header>

</header>

<main>
    <div><p>The first junk founded by a surfer date back to first May 1776
        <a href="https://www.nationilluminati.com/">Our main sponsor</a>
        <img href="images/georgewashingtondesaprouve.png" alt="georgelesang">
    </p></div>
</main>

<footer>

</footer>

</body>
</html>